<div class="card-header">
  <div class="card-title">
    Twitter įrašo skelbimas
  </div>
  <div class="card-category">
    Čia galite paskelbti nauja Twitter įrašą į officialę įmonės paskyrą
  </div>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Turinys</label>
        <textarea rows="4" cols="80" class="form-control" placeholder="Įrašykite įrašto tekstą" [(ngModel)]='content'></textarea>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-fill pull-right" (click)="submit()" [disabled]="tweeting">
    Skelbti
  </button>
  <div class="alert alert-danger" style="margin-top: 1rem" *ngIf="errorMessage != null">
    <button type="button" aria-hidden=true class="close" data-dismiss="alert" (click)="closeError()">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span><b>{{ errorMessage }}</b></span>
  </div>
  <div class="alert alert-success" style="margin-top: 1rem" *ngIf="successMessage != null">
    <button type="button" aria-hidden=true class="close" data-dismiss="alert" (click)="closeSuccess()">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span><b>{{ successMessage }}</b></span>
  </div>
</div>

