<div class="card-header">
    <div class="card-title">
        Ar tikrai norite ištrinti šį kontaktą?
    </div>
    <div class="card-category">
        El. Paštas - '{{contact.email}}', Twitter - '{{contact.twitter}}', Telefonas - '{{contact.phone}}'
    </div>
</div>
<div class="card-body">
    <div class="btn-group" role="group">
        <button [disabled]="deleting" class="btn btn-danger" (click)="confirmDelete()">Patvirtinti</button>
        <button class="btn" routerLink="/contacts">Atšaukti</button>
    </div>
    <app-error-alert [message]="errorMessage"></app-error-alert>
</div>