<div class="card-header">
  <div class="card-title">
    Nauja reklama
  </div>
  <div class="card-category">
    Užpildykite laukus ir pateikite
  </div>
</div>
<div class="card-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Pavadinimas</label>
          <input class="form-control" type="text" placeholder="Pavadinimas" formControlName="title" maxlength="50">
        </div>
        <div class="form-group ">
          <label>Pradžia</label>
          <input class="form-control" type="date" formControlName="start">
        </div>
        <div class="form-group ">
          <label>Pabaiga</label>
          <input class="form-control" type="date" formControlName="end">
        </div>
        <div class="form-group ">
          <label>Kaina</label>
          <input class="form-control" type="number" step="0.01" formControlName="price">
        </div>
      </div>
    </div>
    <app-error-alert [message]="errorMessage"></app-error-alert>
    <button [disabled]="submitting" type="submit" class="btn btn-success">Sukurti</button>
  </form>
</div>
