<div class="card-header">
    <div class="card-title">
        Redaguoti kontakto teises
    </div>
    <div class="card-category">
        Pasirinkite, kokias teisias suteikia kontaktas({{contact.email}}, {{contact.phone}}, {{contact.twitter}})
    </div>
</div>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group allow-group">
            <input type="checkbox" value="" id="email-allowed" formControlName="email-allowed">
            <label class="form-check-label" for="email-allowed">
                Leisti naudoti el. paštą
            </label>
        </div>
        <div class="form-group allow-group">
            <input type="checkbox" value="" id="phone-allowed" formControlName="phone-allowed">
            <label class="form-check-label" for="phone-allowed">
                Leisti naudoti telefono numerį
            </label>
        </div>
        <div class="form-group allow-group">
            <input type="checkbox" value="" id="twitter-allowed" formControlName="twitter-allowed">
            <label class="form-check-label" for="twitter-allowed">
                Leisti naudoti twitter
            </label>
        </div>
        <br>
        <app-error-alert [message]="errorMessage"></app-error-alert>
        <app-success-alert [message]="successMessage"></app-success-alert>
        <button [disabled]="submitting" type="submit" class="btn btn-success">Atnaujinti</button>
    </form>
</div>