<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Užsakymai</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link
            href="/css/light-bootstrap-dashboard.css"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">Zoo</a>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="/users" class="nav-link">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Vartotojai</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/animals" class="nav-link">
                            <i class="nc-icon nc-air-baloon"></i>
                            <p>Gyvūnai</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/feed" class="nav-link">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Pašarai</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/tickets/index.html" class="nav-link">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Bilietai</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/marketing" class="nav-link">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Marketingas</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo"> Pašarai </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/feed/feedanimal">
                                    <span class="no-icon">Šėrimas</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/feed/order">
                                    <span class="no-icon">Užsakymas</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/feed/suppliers">
                                    <span class="no-icon">Tiekėjai</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/feed/usage">
                                    <span class="no-icon">Sunaudojimas</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/feed/writeoff">
                                    <span class="no-icon">Nurašymas</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>