<div class="logo">
    <a class="simple-text">Zoo</a>
</div>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/users">
            <i class="nc-icon nc-circle-09"></i>
            <p>Vartotojai</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/animals">
            <i class="nc-icon nc-favourite-28"></i>
            <p>Gyvūnai</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/feed">
            <i class="nc-icon nc-circle-09"></i>
            <p>Pašarai</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tickets">
            <i class="nc-icon nc-circle-09"></i>
            <p>Bilietai</p>
        </a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" routerLink="/">
            <i class="nc-icon nc-notification-70"></i>
            <p>Marketingas</p>
        </a>
    </li>
</ul>
