<div class="card-header">
  <div class="card-title">
    Reklamos analizė - {{advert.advertTitle}}
  </div>
  <div class="card-category">
    Reklamos laikotarpiu bilietų pardavimo padidėjimas/sumažėjimas lyginant su įvairiais laiko tarpais
  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Savaitė prieš</th>
          <th>Savaitė po</th>
          <th>Mėnesis prieš</th>
          <th>Mėnesis po</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td [ngClass]="(advert.increaseWeekBefore < 0 ? 'red' : 'green')">
            {{(advert.increaseWeekBefore * 100) | number:'1.2-2'}}%</td>
          <td [ngClass]="(advert.increaseWeekAfter < 0 ? 'red' : 'green')">
            {{(advert.increaseWeekAfter * 100) | number:'1.2-2'}}%</td>
          <td [ngClass]="(advert.increaseMonthBefore < 0 ? 'red' : 'green')">
            {{(advert.increaseMonthBefore * 100) | number:'1.2-2'}}%</td>
          <td [ngClass]="(advert.increaseMonthAfter < 0 ? 'red' : 'green')">
            {{(advert.increaseMonthAfter * 100) | number:'1.2-2'}}%</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
