<script>
	import Users from "./pages/users.svelte";
	import Roles from "./pages/roles.svelte";
	import Permissions from "./pages/permissions.svelte";

	let activePage = "users";
</script>

<div class="wrapper">
	<div class="sidebar">
		<div class="sidebar-wrapper">
			<div class="logo">
				<a href="http://www.creative-tim.com" class="simple-text">
					ZOO
				</a>
			</div>
			<ul class="nav">
				<li class="nav-item active">
					<a class="nav-link" href="/users">
						<i class="nc-icon nc-circle-09"></i>
						<p>Vartotojai</p>
					</a>
				</li>
				<li>
					<a class="nav-link" href="/animals">
						<i class="nc-icon nc-chart-pie-35"></i>
						<p>Gyvūnai</p>
					</a>
				</li>
				<li>
					<a class="nav-link" href="/feed">
						<i class="nc-icon nc-chart-pie-35"></i>
						<p>Pašarai</p>
					</a>
				</li>
				<li>
					<a class="nav-link" href="/tickets">
						<i class="nc-icon nc-chart-pie-35"></i>
						<p>Bilietai</p>
					</a>
				</li>
				<li>
					<a class="nav-link" href="/marketing">
						<i class="nc-icon nc-chart-pie-35"></i>
						<p>Marketingas</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="main-panel">
		<nav class="navbar navbar-expand-lg" color-on-scroll="500">
			<div class="container-fluid">
				<a class="navbar-brand" href="#pablo"> Vartotojai </a>
				<button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-bar burger-lines"></span>
					<span class="navbar-toggler-bar burger-lines"></span>
					<span class="navbar-toggler-bar burger-lines"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navigation">
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item" on:click="{() => activePage = 'users'}">
                            <a class="nav-link" href="javascript:;">
                                <span class="no-icon" class:text-info="{activePage == 'users'}">Vartotojai</span>
                            </a>
                        </li>
                        <li class="nav-item" on:click="{() => activePage = 'roles'}">
                            <a class="nav-link" href="javascript:;">
                                <span class="no-icon" class:text-info="{activePage == 'roles'}">Rolės</span>
                            </a>
                        </li>
                        <li class="nav-item" on:click="{() => activePage = 'permissions'}">
                            <a class="nav-link" href="javascript:;">
                                <span class="no-icon" class:text-info="{activePage == 'permissions'}">Teisės</span>
                            </a>
                        </li>
						<li class="nav-item" on:click={() => { localStorage.clear(); window.location.replace("/login"); }}>
							<a class="nav-link" href="javascript:;">
								<span class="no-icon">Atsijungti</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
            <!-- End Navbar -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
                    {#if activePage == "users"}
                        <Users/>
                    {:else if activePage == "roles"}
                        <Roles/>
                    {:else if activePage == "permissions"}
                        <Permissions/>
                    {/if}
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container-fluid">
				<nav>
					<p class="copyright text-center">
						© Durukuliai
					</p>
				</nav>
			</div>
		</footer>
	</div>
</div>
