<script>
    export let href = null;
    export let color = "primary";
</script>

{#if href}
    <a {href}>
        <slot />
    </a>
{:else}
    <button class="btn btn-{color} btn-fill" on:click>
        <slot />
    </button>
{/if}
