<script>
    export let label = null;
    export let placeholder;
    export let name;
    export let value = "";
</script>


<div class="form-group">
    {#if label != null}
        <label>{label}</label>
    {/if}
    <input type="text" {name} class="form-control" {placeholder} bind:value/>
</div>
