<script>
    import { createEventDispatcher } from "svelte";
    import { fly, fade } from "svelte/transition";
    import Button from "./Button.svelte";

    export let title;

    const dispatch = createEventDispatcher();

    function closeModal() {
        dispatch("cancel");
    }
</script>

<div transition:fade class="modal-backdrop-custom" on:click={closeModal} />
<div transition:fly={{ y: 300 }} class="modal-custom p-3">
    <h3 class="mb-3">{title}</h3>
    <div>
        <slot />
    </div>
<!--    <footer class="mt-3 text-right">-->
<!--        <slot name="footer">-->
<!--            <Button on:click="{closeModal}" color="danger">Close</Button>-->
<!--        </slot>-->
<!--    </footer>-->
</div>
