<div class="card-header">
    <div class="card-title">
        Naujas kontaktas
    </div>
    <div class="card-category">
        Užpildykite laukus ir pateikite
    </div>
</div>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>El. paštas</label>
                    <input class="form-control" type="text" placeholder="el. paštas" formControlName="email"
                        maxlength="40">
                </div>
                <div class="form-group allow-group">
                    <input type="checkbox" value="" id="email-allowed" formControlName="email-allowed">
                    <label class="form-check-label" for="email-allowed">
                        Leisti naudoti
                    </label>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label>Telefonas</label>
                    <input class="form-control" type="text" placeholder="telefonas" formControlName="phone"
                        maxlength="30">
                </div>
                <div class="form-group allow-group">
                    <input type="checkbox" value="" id="phone-allowed" formControlName="phone-allowed">
                    <label class="form-check-label" for="phone-allowed">
                        Leisti naudoti
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Twitter</label>
                    <input class="form-control" type="text" placeholder="twitter" formControlName="twitter"
                        maxlength="40">
                </div>
                <div class="form-group allow-group">
                    <input type="checkbox" value="" id="twitter-allowed" formControlName="twitter-allowed">
                    <label class="form-check-label" for="twitter-allowed">
                        Leisti naudoti
                    </label>
                </div>
            </div>
        </div>
        <app-error-alert [message]="errorMessage"></app-error-alert>
        <app-success-alert [message]="successMessage"></app-success-alert>
        <button [disabled]="submitting" type="submit" class="btn btn-success">Sukurti</button>
    </form>
</div>