<div class="card-header">
  <div class="card-title">
      Pagrindinis
  </div>
  <div class="card-category">
      Marketingo posistemėje galite atlikti įvarias funkcijas, susijusias su reklamomis ir marketingu.
  </div>
</div>
<div class="card-body">
  <app-error-alert [message]="errorMessage"></app-error-alert>
</div>
