<div class="card-header">
  <div class="card-title">
    Reklamos siuntimas
  </div>
  <div class="card-category">
    Čia galite išsiųsti reklamą el. paštu<br>
    Reklamą gaus visi kontaktai, kurie suteikė teisę naudotis jų el.paštu
  </div>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Turinys</label>
        <textarea rows="4" cols="80" class="form-control" placeholder="Įrašykite reklamos tekstą" [(ngModel)]='content'></textarea>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-fill pull-right" (click)="submit()" [disabled]="submitting">
    Siųsti
  </button>
  <div class="alert alert-danger" style="margin-top: 1rem" *ngIf="errorMessage != null">
    <button type="button" aria-hidden=true class="close" data-dismiss="alert" (click)="closeError()">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span><b>{{ errorMessage }}</b></span>
  </div>
  <div class="alert alert-success" style="margin-top: 1rem" *ngIf="successMessage != null">
    <button type="button" aria-hidden=true class="close" data-dismiss="alert" (click)="closeSuccess()">
      <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span><b>{{ successMessage }}</b></span>
  </div>
  <div>
      <strong *ngIf="receivers != null">Gavejai</strong>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let rec of receivers">{{rec}}</li>
      </ul>
    </div>
</div>

