.details {
    display: none;
}
#supplierForm {
    display: none;
}
#priceForm {
    display: none;
}
#cityForm {
    display: none;
}
.main-panel {
    min-height: 100vh;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
.sidebar {
    position: fixed;
}