<script>
    import Modal from "../UI/Modal.svelte";
    import Input from "../UI/Input.svelte";
    import { onMount } from 'svelte';
    import { GET, POST, DELETE } from '../request.js';
    import permissions from "../stores/permissions.js";

    let showCreateModal = false;
    let localPermissions = $permissions;

    let loadingCreate = false;
    let error = null;
    let activeRole = null;

    onMount(() => {
        if(!localPermissions.isSet) {
            GET("/api/permissions").then(res => {
                if(res.status) {
                    permissions.set(res.data);
                    localPermissions.data = res.data;
                }
            });
        }
    });

    let name = "";
    let sysName = "";

    function create() {
        loadingCreate = true;
        POST("/api/permissions", { pavadinimas: name, sis_pavadinimas: sysName }).then(res => {
            loadingCreate = false;
            if(res.status) {
                permissions.add(res.data);
                localPermissions = $permissions;
                closeCreateModal();
                return;
            }
            if(res.data.status === 422)
                error = "Validacijos klaida. Patikrinkite įvestus duomenis.";
            else
                error = "Įvyko klaida. Mėginkite dar kartą.";
        });
    }
    function closeCreateModal() {
        showCreateModal = false;
        name = "";
        sysName = "";
        error = null;
    }

    function del(id) {
        let result = confirm("Ar tikrai norite ištrinti?");
        if (result) {
            DELETE("/api/permissions/" + id).then(res => {
                permissions.delete(id);
                localPermissions = $permissions;
            });
        }
    }
</script>



{#if showCreateModal}
    <Modal title="Pridėti naują teisę" on:cancel="{() => {showCreateModal = false}}">
        <Input placeholder="Pavadinimas" name="name" bind:value={name}/>
        <Input placeholder="Sisteminis pavadinimas" name="name" bind:value={sysName}/>

        <button disabled="{name.length < 4 && sysName.length < 4}" class="btn btn-warning btn-fill w-100" on:click={create}>
            {#if loadingCreate}
                Kraunama...
            {:else}
                Sukurti
            {/if}
        </button>

        {#if error != null}
            <div class="alert bg-danger mt-3 mb-0">
                <span class="closebtn" on:click={() => error = null}>&times;</span>
                <strong>Klaida!</strong> { error }
            </div>
        {/if}
    </Modal>
{/if}

<button on:click="{() => {showCreateModal = true}}" type="button" class="btn btn-success btn-fill ml-3 mb-3">Pridėti naują teisę</button>
<div class="col-md-12">
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            <h4 class="card-title">Sistemoje esančios rolių teisės</h4>
        </div>
        <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Pavadinimas</th>
                    <th>Sisteminis pavadinimas</th>
                    <th>Veiksmai</th>
                </tr>
                </thead>

                <tbody>
                {#each localPermissions.data as permission (permission.id)}
                    <tr>
                        <td>{ permission.id }</td>
                        <td class="cursor-pointer">{ permission.pavadinimas }</td>
                        <td class="cursor-pointer">{ permission.sis_pavadinimas }</td>
                        <td>
                            <button on:click={() => del(permission.id)} type="button" title="" class="cursor-pointer btn btn-danger btn-simple btn-link">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                {/each}

                </tbody>
            </table>
        </div>
    </div>
</div>
