<script>
    import Modal from "../UI/Modal.svelte";
    import Input from "../UI/Input.svelte";
    import { onMount } from 'svelte';
    import { GET, POST, DELETE } from '../request.js';
    import roles from "../stores/roles";
    import SelectPermission from "./select-permission.svelte";

    let showCreateModal = false;
    let showInfoModal = false;
    let localRoles = $roles;
    let roleName = "";

    let loadingCreate = false;
    let error = null;
    let activeRole = null;

    onMount(() => {
        if(!localRoles.isSet) {
            GET("/api/roles").then(res => {
                if(res.status) {
                    roles.set(res.data);
                    localRoles.data = res.data;
                }
            });
        }
    });

    function create() {
        loadingCreate = true;
        POST("/api/roles", { pavadinimas: roleName }).then(res => {
            loadingCreate = false;
            if(res.status) {
                roles.add(res.data);
                localRoles = $roles;
                closeCreateModal();
                return;
            }
            if(res.data.status === 422)
                error = "Validacijos klaida. Patikrinkite įvestus duomenis.";
            else
                error = "Įvyko klaida. Mėginkite dar kartą.";
        });
    }
    function closeCreateModal() {
        showCreateModal = false;
        roleName = "";
        error = null;
    }

    function del(id) {
        let result = confirm("Ar tikrai norite ištrinti?");
        if (result) {
            DELETE("/api/roles/" + id).then(res => {
                roles.delete(id);
                localRoles = $roles;
            });
        }
    }
</script>



{#if showCreateModal}
    <Modal title="Pridėti naują rolę" on:cancel="{() => {showCreateModal = false}}">
        <Input placeholder="Pavadinimas" name="name" bind:value={roleName}/>

        <button disabled="{roleName.length < 4}" class="btn btn-warning btn-fill w-100" on:click={create}>
            {#if loadingCreate}
                Kraunama...
            {:else}
                Sukurti
            {/if}
        </button>

        {#if error != null}
            <div class="alert bg-danger mt-3 mb-0">
                <span class="closebtn" on:click={() => error = null}>&times;</span>
                <strong>Klaida!</strong> { error }
            </div>
        {/if}
    </Modal>
{/if}

{#if showInfoModal}
    <Modal title="Rolės teisės" on:cancel="{() => {showInfoModal = false}}">
        <SelectPermission role="{activeRole}"/>
    </Modal>
{/if}

<button on:click="{() => {showCreateModal = true}}" type="button" class="btn btn-success btn-fill ml-3 mb-3">Pridėti naują rolę</button>
<div class="col-md-12">
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            <h4 class="card-title">Sistemoje esančios vartotojų rolės</h4>
        </div>
        <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Pavadinimas</th>
                    <th>Veiksmai</th>
                </tr>
                </thead>

                <tbody>
                {#each localRoles.data as role (role.id)}
                    <tr>
                        <td>{ role.id }</td>
                        <td class="cursor-pointer" on:click="{() => {showInfoModal = true; activeRole = role; }}">{ role.pavadinimas }</td>
                        <td>
                            <button on:click={() => del(role.id)} type="button" title="" class="cursor-pointer btn btn-danger btn-simple btn-link">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                {/each}

                </tbody>
            </table>
        </div>
    </div>
</div>
