<script>
    import { onMount } from 'svelte';
    import { GET, PATCH } from '../request.js';

    export let role;
    let rolePermissions = [];

    onMount(() => {
        GET("/api/roles/" + role.id + "/permissions").then(res => {
            if(res.status)
                rolePermissions = res.data;
        });
    });

    function toggle(index) {
        PATCH("/api/roles/" + role.id + "/permissions/" + rolePermissions[index].id, {}).then(res => {
            let p = { ... rolePermissions[index] };
            if(p.roles_id === role.id)
                rolePermissions[index].roles_id = null;
            else
                rolePermissions[index].roles_id = role.id;
        });
    }
</script>

<div class="table-full-width">
    <table class="table">
        <tbody>
        {#each rolePermissions as permission, i (permission.id)}
            <tr>
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="{permission.roles_id == role.id}" on:change={() => toggle(i)}>
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </td>
                <td>{permission.pavadinimas}</td>
            </tr>
        {/each}

        </tbody>
    </table>
</div>