<script>
    import roles from "../stores/roles.js";
    import { onMount } from 'svelte';
    import { GET, PATCH } from '../request.js';
    import users from "../stores/users.js";

    export let user = null;
    let localRoles = $roles;
    let rls = user.roles_id;

    onMount(() => {
        if(!localRoles.isSet) {
            GET("/api/roles").then(res => {
                if(res.status) {
                    roles.set(res.data);
                    localRoles.data = res.data;
                }
            });
        }
    });

    function change() {
        PATCH("/api/users/" + user.id + "/role", { roles_id: rls }).then(res => {
            if(res.status) {
                users.updateRole(user.id, rls);
            }
        });
    }
</script>

<div class="ml-5">
    {#each localRoles.data as role, i (role.id)}
        <label class="container-a">{role.pavadinimas}
            <input type="radio" bind:group={rls} value="{role.id}" on:change={change}>
            <span class="checkmark"></span>
        </label>
    {/each}
</div>