<script>
    import Modal from "../UI/Modal.svelte";
    import Input from "../UI/Input.svelte";
    import users from "../stores/users.js";
    import usersDeleted from "../stores/users-deleted.js";
    import { isValidEmail, isLongerThan } from "../validation.js";
    import { onMount } from 'svelte';
    import { GET, POST, PATCH } from '../request.js';
    import SelectRole from "./select-role.svelte";

    let showCreateModal = false;
    let showInfoModal = false;
    let selectedUser = null;
    let isAdmin = localStorage.getItem("is_admin") === "true";

    let loadingCreate = false;
    let localUsers = $users;
    let localUsersDeleted = $usersDeleted;

    let error = null;

    onMount(() => {
        if(!localUsers.isSet && isAdmin) {
            GET("/api/users").then(res => {
                if(res.status) {
                    users.set(res.data);
                    localUsers.data = res.data;
                }
            });
        }
        if(!localUsersDeleted.isSet && isAdmin) {
            GET("/api/users/deleted").then(res => {
                if(res.status) {
                    usersDeleted.set(res.data);
                    localUsersDeleted.data = res.data;
                }
            });
        }
    });

    let newUser = {
        vardas: "",
        pavarde: "",
        "el_pastas": ""
    };
    $:validForm = isLongerThan(newUser.vardas, 3) && isLongerThan(newUser.pavarde, 3) && isValidEmail(newUser.el_pastas);
    function create() {
        loadingCreate = true;
        POST("/api/users", newUser).then(res => {
            loadingCreate = false;
            if(res.status) {
                users.add(res.data);
                localUsers = $users;
                closeCreateModal();
                return;
            }
            if(res.data.status === 422)
                error = "Validacijos klaida. Patikrinkite įvestus duomenis.";
            else
                error = "Įvyko klaida. Mėginkite dar kartą.";
        });
    }
    function closeCreateModal() {
        showCreateModal = false;
        newUser.vardas = "";
        newUser.pavarde = "";
        newUser.el_pastas = "";
        error = null;
    }

    function del(user) {
        let result = confirm("Ar tikrai norite archyvuoti?");
        if (result) {
            PATCH("/api/users/" + user.id).then(res => {
                if(res.status) {
                    users.delete(user.id);
                    user.istrynimo_data = new Date().toISOString();
                    usersDeleted.add(user);
                    localUsers = $users;
                    localUsersDeleted = $usersDeleted;
                }
            });
        }
    }

    function antiDel(user) {
        let result = confirm("Ar tikrai norite grąžinti vartotoją?");
        if (result) {
            PATCH("/api/users/" + user.id).then(res => {
                if(res.status) {
                    usersDeleted.delete(user.id);
                    users.add(user);
                    localUsers = $users;
                    localUsersDeleted = $usersDeleted;
                }
            });
        }
    }
</script>

{#if showCreateModal}
    <Modal title="Pridėti naują vartotoją" on:cancel="{closeCreateModal}">
        <Input placeholder="Vardas" name="name" bind:value={newUser.vardas}/>
        <Input placeholder="Pavardė" name="name" bind:value={newUser.pavarde}/>
        <Input placeholder="El. paštas" name="email"  bind:value={newUser.el_pastas}/>

        <button disabled="{!validForm}" class="btn btn-warning btn-fill w-100" on:click={create}>
            {#if loadingCreate}
                Kraunama...
            {:else}
                Sukurti
            {/if}
        </button>

        {#if error != null}
            <div class="alert bg-danger mt-3 mb-0">
                <span class="closebtn" on:click={() => error = null}>&times;</span>
                <strong>Klaida!</strong> { error }
            </div>
        {/if}
    </Modal>
{/if}

{#if showInfoModal}
    <Modal title="Vartotojo rolė" on:cancel="{() => {showInfoModal = false}}">
        <SelectRole user="{selectedUser}"/>
    </Modal>
{/if}

{#if isAdmin}
    <button on:click="{() => {showCreateModal = true}}" type="button" class="btn btn-success btn-fill ml-3 mb-3">Pridėti naują vartotoją</button>
    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <h4 class="card-title">Aktyvūs sistemos vartotojai</h4>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Vardas Pavardė</th>
                        <th>El. paštas</th>
                        <th>Ar administratorius</th>
                        <th>Sukūrimo data</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>

                    {#each localUsers.data as user}
                        <tr>
                            <td>{ user.id }</td>
                            <td class="cursor-pointer" on:click="{() => {showInfoModal = true; selectedUser = user;}}">{ user.vardas } { user.pavarde }</td>
                            <td class="cursor-pointer" on:click="{() => {showInfoModal = true; selectedUser = user;}}">{ user.el_pastas }</td>
                            <td>{ user.ar_administratorius ? "Taip" : "Ne" }</td>
                            <td>{ user.sukurimo_data.split("T")[0] }</td>
                            <td>
                                <button on:click={() => del(user)} type="button" title="" class="cursor-pointer btn btn-danger btn-simple btn-link">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    {/each}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <h4 class="card-title">Archyve esantys sistemos vartotojai</h4>
            </div>
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>

                        <tr>
                            <th>ID</th>
                            <th>Vardas Pavardė</th>
                            <th>El. paštas</th>
                            <th>Ar administratorius</th>
                            <th>Archyvavimo data</th>
                            <th></th>
                        </tr>

                    </thead>

                    <tbody>
                    {#each localUsersDeleted.data as user}
                        <tr>
                            <td>{ user.id }</td>
                            <td>{ user.vardas } { user.pavarde }</td>
                            <td>{ user.el_pastas }</td>
                            <td>{ user.ar_administratorius ? "Taip" : "Ne" }</td>
                            <td>{ user.istrynimo_data.split("T")[0] }</td>
                            <td>
                                <button on:click={() => antiDel(user)} type="button" title="" class="cursor-pointer btn btn-danger btn-simple btn-link">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                    {/each}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{:else}
    Šį puslapį gali matyti tik administratorius.
{/if}