<div class="card-header">
    <div class="card-title">
        Kontaktai
    </div>
    <div class="card-category">
        Čia pateikiamas įmonės turimų kontaktų sąrašas ir jų suteiktos teisės siųsti reklamas <br>
        Žalsvi kontaktai leidžiami reiklamai, rausvi - ne
    </div>
</div>
<div class="card-body">
    <button class="btn btn-success" routerLink="/contacts/create">Naujas kontaktas</button>
    <br><br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>El. Paštas</th>
                    <th>Telefonas</th>
                    <th>Twitter</th>
                    <th>Atnaujinta</th>
                    <th>Veiksmai</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts">
                    <td class="contact-type-value" [ngClass]="contact.allow_email ? 'allow' : 'dont-allow'">
                        {{contact.email}}</td>
                    <td class="contact-type-value" [ngClass]="contact.allow_phone ? 'allow' : 'dont-allow'">
                        {{contact.phone}}</td>
                    <td class="contact-type-value" [ngClass]="contact.allow_twitter ? 'allow' : 'dont-allow'">
                        {{contact.twitter}}</td>
                    <td>{{ date(contact.updatedAt) }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-warning" [routerLink]="['edit', contact.id]">Redaguoti</button>
                            <button class="btn btn-danger" [routerLink]="['delete', contact.id]">Naikinti</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>