
            <% include partials/header %> 
            <div class="content">
                <div class="container-fluid">
                
                    <div class="row">
                        <div class="col-md-12">
                            <% if (typeof(auth_message) !== 'undefined' && auth_message.length > 0) { %>
                                <div class="alert alert-danger"><%= auth_message %> </div>
                            <% } %>
                            <div class="card card-tasks">
                                <div class="card-header ">
                                    <h4 class="card-title">Gyvūno Šėrimas</h4>
                                </div>
                                <div class="card-body">
                                    <% if (success_message && success_message.length > 0) { %>
                                        <div class="alert alert-success"><%= success_message %> </div>
                                    <% } %>
                                    <% if (error_message && error_message.length > 0) { %>
                                        <div class="alert alert-danger"><%= error_message %> </div>
                                    <% } %>
                                    <% if (typeof(message) !== "undefined" && message.length > 0) { %>
                                        <div class="alert alert-danger">
                                            <%= message %> 
                                        </div>
                                    <% } %>
                                    <% if (typeof(animals) !== "undefined" && animals.length > 0) { %>
                                        <div class="table-full-width p-3">
                                        <form action="/feed/feedanimal" method="POST">
                                            <div class="form-group">
                                                <label for="animalID"></label>
                                                <select
                                                    class="form-control"
                                                    name="animalID"
                                                >
                                                    <option value="none">-----</option>
                                                    <% animals.forEach(a => { %>
                                                        <option value="<%= a.id %>" ><%= a.id + " - "+a.rusis  %> </option>
                                                    <% }) %>
                                                </select>
                                            </div>

                                            <button class="btn btn-primary">Patvirtinti</button>
                                        </form>
                                    </div>
                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include partials/footer %> 
