<% include partials/header %>
<% if (typeof(auth_message) !== 'undefined' && auth_message.length > 0) { %>
    <div class="alert alert-danger"><%= auth_message %> </div>
<% } %>
<% include partials/footer %>  