<% include partials/header %> 
            <!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card  card-tasks">
                    <div class="card-header ">
                        <h4 class="card-title">Užsakymai</h4>
                    </div>
                    <div class="card-body">
                        <% if (typeof(message) !== "undefined") { %>
                            <div class="alert alert-danger"><%= message %> </div>
                        <% } %>
                        <% if (error_message && error_message.length > 0) { %>
                            <div class="alert alert-danger"><%= error_message %> </div>
                        <% } %>
                        <% if (success_message && success_message.length > 0) { %>
                            <div class="alert alert-success"><%= success_message %> </div>
                        <% } %>

                        <div class="table-full-width p-3">
                           
                                <div class="form-group">
                                    <label for=""
                                        >Filtruoti pagal</label
                                    >
                                    <select
                                        class="form-control"
                                        name="filterBy"
                                        id="filterBy"
                                        onchange="handleSelect()"
                                    >
                                        <option value="none">...</option>
                                        <option value="supplier">Tiekėjas</option>
                                        <option value="price">Kaina</option>
                                        <option value="city">Miestas</option>
                                    </select>
                                </div>
                               
                                <div id="supplierForm">
                                    <form action="/feed/order" method="GET">
                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                <label for="">Tiekėjo Pavadinimas</label>
                                                <select
                                                    class="form-control"
                                                    name="supplier"
                                                    id=""
                                                >
                                                <% if (typeof(suppliers) !== "undefined" && suppliers.length > 0) { %>
                                                    <% suppliers.forEach(s => { %>
                                                        <option value="<%= s.pavadinimas %>" ><%= s.pavadinimas %> </option>
                                                <% }) %>
                                                <% } %>
                                                
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary">Ieškoti</button>
                                    </form>
                                </div>
                                <div id='cityForm'>
                                    <form action="/feed/order" method="GET">
                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                <label for="">Miestas</label>
                                                <select class="form-control" name="city">
                                                    <% if (typeof(cities) !== 'undefined' && cities.length > 0) { %>
                                                        <% cities.forEach(c => { %>
                                                            <option value="<%= c.miestas %>"><%= c.miestas %> </option>
                                                        <% }) %>
                                                    <% } %>
                                                    
                                                     
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary">Ieškoti</button>
                                    </form>
                                </div>
                                <div id="priceForm">
                                    <form action="/feed/order" method="GET">
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="">Kaina nuo</label>
                                                <input
                                                    class="form-control"
                                                    type="number"
                                                    name="priceFrom"
                                                    step="0.1"
                                                    min="0"
                                                />
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="">Kaina iki</label>
                                                <input
                                                    class="form-control"
                                                    type="number"
                                                    name="priceTo"
                                                    step="0.1"
                                                    min="0"
                                                />
                                            </div>
                                        </div>
                                        <button class="btn btn-primary">Ieškoti</button>
                                    </form>  
                                </div>

                          
                            <form action="/feed/order" method="POST">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Pavadinimas
                                            </th>
                                            <th scope="col">Skirta</th>
                                            <th scope="col">
                                                Galioja iki
                                            </th>
                                             <th scope="col">
                                                Gamintojas
                                            </th>
                                            <th>Kaina</th>
                                            <th scope="col">Miestas</th>
                                            <th>Užsakyti</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            <% if (typeof(feeds) !== "undefined" && feeds.length > 0) { %>
                                                <% feeds.forEach(f => { %>
                                                    <tr>
                                                        <td><%= f.pavadinimas  %> </td>
                                                        <td><%= f.kam_skirta %> </td>
                                                        <td><%= f.galioja_iki %> </td>
                                                        <td><%= f.tiekejas %> </td>
                                                        <td><%= f.kaina %> </td>
                                                        <td><%= f.miestas %> </td>
                                                        <td> 
                                                            <input
                                                                class="form-check-input"
                                                                type="checkbox"
                                                                name="ids"
                                                                value="<%= f.id %>" 
                                                                id="gridCheck1"
                                                            />
                                                        </td>
                                                    </tr>
                                                <% }) %>                
                                            <% } %>
                                                                         
                                        </tbody>
                                        </table>
                                        <button class="btn btn-primary">Patvirtinti užsakymą</button>
                                    </form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/order.js"></script>
<% include partials/footer %> 
