<% include partials/header %> 
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <% if (error_message && error_message.length > 0) { %>
                                <div class="alert alert-danger"><%= error_message %></div>
                            <% } %>
                            <% if (success_message && success_message.length > 0) { %>
                                <div class="alert alert-success"><%= success_message %></div>  
                            <% } %>
                            
                            <div class="card  card-tasks">
                                <div class="card-header ">
                                    <h4 class="card-title">Tiekėjai</h4>
                                </div>
                                <div class="card-body">
                                    <% if (typeof(suppliers) !== "undefined" && suppliers.length > 0) { %>
                                        <div class="table-full-width p-3">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        Pavadinimas
                                                    </th>
                                                    <th scope="col">Miestas</th>
                                                    <th scope="col">
                                                        Tel. numeris
                                                    </th>
                                                    <th scope="col">Pašarai</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% suppliers.forEach((s,i) => { %>
                                                    <tr>
                                                        <td><%= s.supplierInfo.pavadinimas %> </td>
                                                        <td><%= s.supplierInfo.miestas %> </td>
                                                        <td><%= s.supplierInfo.tel_numeris %> </td>
                                                        <td>
                                                            <button
                                                                data-table-index="<%= i %>" 
                                                                onclick="myFunction(this)"
                                                                class="btn btn-primary btn-sm dispDetails"
                                                            >
                                                                Rodyti pašarus
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <!------Tiekėjo pašarai----------------->
                                                <tr class="details">
                                                    <td>
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <td>
                                                                        Tiekėjas
                                                                    </td>
                                                                    <td>
                                                                        Pašaras
                                                                    </td>
                                                                    <td>
                                                                        Kaina
                                                                        (&euro;/kg)
                                                                    </td>
                                                                    <td>Kam Skirta</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% s.supplierInfo.feed.forEach(feed => { %>
                                                                    <tr>
                                                                        <td><%= feed.pavadinimas %> </td>
                                                                        <td><%= feed.pasaro_pavadinimas %> </td>
                                                                        <td><%= feed.kaina %> </td>
                                                                        <td><%= feed.kam_skirta %> </td>
                                                                    </tr>
                                                                <% }) %>          
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <!----------------------->
                                                <% }) %>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <% }  else { %>
                                    
                                        <div class="alert alert-danger">
                                            Nerasta įrašų
                                        </div>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/javascript/suppliers.js"></script>
<% include partials/footer %> 
