<% include partials/header %> 
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card  card-tasks">
                                <div class="card-header ">
                                    <h4 class="card-title">Sunaudojimas</h4>
                                </div>
                                <div class="card-body">
                                    <% if (typeof(message) !== "undefined") { %>
                                        <div class="alert alert-danger"><%= message %> </div>
                                    <% } %>
                                    <% if (typeof(feed) !== "undefined" && feed.length > 0) { %>
                                        <div class="table-full-width p-3">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">
                                                            Pavadinimas
                                                        </th>
                                                        <th scope="col">
                                                            Galioja iki
                                                        </th>
                                                        <th scope="col">
                                                            Likutis (kg)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% feed.forEach(d => { %>
                                                        <tr>
                                                            <td><%= d.id %> </td>
                                                            <td><%= d.pavadinimas %> </td>
                                                            <td><%= d.galioja_iki %></td>
                                                            <td><%= d.kiekis %> </td>
                                                        </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include partials/footer %> 
