<% include partials/header %> 
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                <% if (typeof(message) !== "undefined") { %>
                    <div class="alert alert-danger"><%= message %> </div>
                <% } %>
                <% if (error_message && error_message.length > 0) { %>
                    <div class="alert alert-danger"><%= error_message %> </div>
                <% } %>
                <% if (success_message && success_message.length > 0) { %>
                    <div class="alert alert-success"><%= success_message %> </div>
                <% } %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card  card-tasks">
                                
                                <div class="card-header ">
                                    <h4 class="card-title">Nurašymas</h4>
                                </div>
                                
                                <div class="card-body">
                                    <form action="/feed/writeoff" method="GET" id="expiredForm">
                                        <div class="my-3">
                                            <input
                                                class="mr-2"
                                                type="checkbox"
                                                name="expired"
                                                id="expired"
                                            />
                                            <label for="">Rodyti tik netinkamus naudojimui (pasibaigęs galiojimas)</label>
                                        </div>
                                    </form>
                            
                                    <% if (typeof(feeds) !== "undefined") { %>
                                        <div class="table-full-width p-3">
                                            

                                            <form
                                                action="/feed/writeoff"
                                                method="POST"
                                                name="form"
                                                onsubmit="return validate(this)"
                                            >
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">ID</th>
                                                            <th scope="col">
                                                                Pavadinimas
                                                            </th>
                                                            <th scope="col">
                                                                Skirta
                                                            </th>
                                                            <th scope="col">
                                                                Kiekis (kg)
                                                            </th>
                                                            <th scope="col">
                                                                Galioja iki
                                                            </th>
                                                            <th scope="col">
                                                                Nurašyti
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% feeds.forEach(f => { %>
                                                            <tr class="expireRows">
                                                                <td><%= f.id  %> </td>
                                                                <td><%= f.pavadinimas  %> </td>
                                                                <td><%= f.kam_skirta  %> </td>
                                                                <td><%= f.kiekis  %> </td>
                                                  
                                                                <td id="expires"><%= f.galioja_iki %> </td>
                                                                <td> 
                                                                    <input
                                                                        class="form-check-input"
                                                                        type="checkbox"
                                                                        name="ids"
                                                                        value="<%= f.id %>" 
                                                                        id="gridCheck1"
                                                                />
                                                                </td>
                                                            </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                                <button class="btn btn-primary">Nurašyti</button>
                                            </form>
                                        </div>
                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/javascript/writeoff.js"></script>
<% include partials/footer %> 
