<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-wrapper">
        <app-menu></app-menu>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg" color-on-scroll="500">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Marketingas</a>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="contacts">Kontaktai</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="tweet">Twitter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="ads">Reklamos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="email-ad">Siųsti el. reklama</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Atsijungti</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="copyright text-center">© Durukuliai</p>
      </div>
    </footer>
  </div>
</div>
