<script>
	import { POST } from "./request.js"

	let email = "";
	let password = "";

	let error = null;
	let loading = false;

	function login(event) {
		loading = true;
		error = null;
		POST("/token", {
			el_pastas: email,
			slaptazodis: password
		}, false).then(res => {
			loading = false;
			localStorage.clear();
			if (res.status) {
				localStorage.setItem("user_id", res.data["user"]['id']);
				localStorage.setItem("is_admin", res.data["user"]['ar_administratorius']);
				localStorage.setItem("permissions", res.data["user"]['teises']);
				localStorage.setItem("token", res.data["token"]);
				window.location.replace("/users");
				return;
			}

			if (res.data.status === 401) {
				error = "Neteisingas el. pašto adresas arba slaptažodis.";
				return;
			} else if (res.data.status === 404) {
				error = "Toks el. pašto adresas neegzistuoja.";
				return;
			}
			error = "Įvyko klaida. Bandykite dar kartą.";
		});
	}
</script>


<div class="full-page section-image">
	<div class="content">
		{#if error != null}
			<div class="alert bg-danger">
				<span class="closebtn" on:click={() => error = null}>&times;</span>
				<strong>Klaida!</strong> { error }
			</div>
		{/if}
		<div class="container mt-5">
			<div class="col-md-4 col-sm-6 ml-auto mr-auto">
				<form class="form" on:submit|preventDefault="{login}">
					<div class="card card-login">
						<div class="card-header ">
							<h3 class="header text-center">Prisijungimas</h3>
						</div>
						<div class="card-body ">
							<div class="card-body">
								<div class="form-group">
									<label>El. pašto adresas</label>
									<input type="email" placeholder="El. paštas" class="form-control" bind:value={email}>
								</div>
								<div class="form-group mb-0">
									<label>Slaptažodis</label>
									<input type="password" placeholder="Slaptažodis" class="form-control" bind:value={password}>
								</div>
							</div>
						</div>
						<div class="card-footer ml-auto mr-auto mb-2">
							<button type="submit" class="btn btn-primary" disabled="{password === '' || email === '' }">
								{#if loading}
									Kraunama...
								{:else}
									Prisijungti
								{/if}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>