<div class="card-header">
  <div class="card-title">
    Reklamos
  </div>
  <div class="card-category">
    Čia pateikiamos įmonės užregistruotos reklamos
  </div>
</div>
<div class="card-body">
  <button class="btn btn-success" routerLink="/ads/create">Nauja reklama</button>
  <br><br>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Pavadinimas</th>
          <th>Pradžia</th>
          <th>Pabaiga</th>
          <th>Sukūrimo data</th>
          <th>Kaina</th>
          <th>Veiksmai</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let advert of adverts">
          <td>{{advert.title}}</td>
          <td>{{date(advert.start)}}</td>
          <td>{{date(advert.end)}}</td>
          <td>{{date(advert.createdAt)}}</td>
          <td>{{advert.price / 100}}</td>
          <td>
            <button class="btn btn-primary" [routerLink]="['analysis', advert.id]">Analizė</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
